body {
	background: #fff;
}
header {position: relative;}
#banner {
	border-bottom: 1px solid #fff;
	box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.4);
	background-image: url(images/header_red_flag.jpg) no-repeat center top;
	height: 537px;
	position: absolute;
 	width: 100%;
 	z-index: 0;
}
#content {
  	background: #fff;
  	box-shadow: 0 9px 0 0 transparent, 0 -9px 0 0 transparent, 11px 0 61px -26px rgba(31, 73, 125, 0.3), -11px 0 61px -26px rgba(31, 73, 125, 0.3);
  	padding-bottom: 40px;
  	padding-top: 10px;
  	position: relative;
  	z-index: 4;
  	width: 980px;
  	margin-left: auto;
  	margin-right: auto;
  	padding-left: 15px;
  	padding-right: 15px;
}
